a {
    text-decoration: none;
}

hr {
    border: none; /* Убираем границу */
    background-color: #114746; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 0px; /* Толщина линии */
}

.pugalka {
    background-color: rebeccapurple;
    border-radius: 30px;
    width: 225px;
}
.pugalka h1 {
    margin-left: 15px;
}

.pugalka2 {
    background-color: #e8b3d4;
    border-radius: 30px;
    width: 660px;
}
.pugalka2 h1 {
    margin-left: 15px;
}

.mogus {
    background-color: #91cf8f;
    border-radius: 60px;
    width: 570px;
}
.pugalka2 h1 {
    margin-left: 15px;
}
a:hover {
    color: mediumvioletred;
}

li {
    list-style: none;
}

.menu ul {
    display: flex;
    justify-content: left;

}

.menu ul li {
    margin-right: 75px;
}

head {
    font-family: 'Rubik Mono One', sans-serif;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eacef2;
    /*
    overflow-x: hidden;
    overflow-y: hidden;
*/
}

/*waves****************************/


.box {
    position: fixed;
    top: 0;
    /*    transform: rotate(80deg);*/
    left: 0;
}

.wave {
    position: fixed;
    top: 0;
    left: 0;
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 10%;
    background: #bf8ccf;
    width: 100%;
    height: 1300px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 7000ms infinite linear;
}

.wave.-three {
    animation: drift 7500ms infinite linear;
    position: fixed;
    background-color: #935fa3;
}

.wave.-two {
    animation: drift 3000ms infinite linear;
    opacity: .1;
    background: black;
    position: fixed;
}

.box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

/*LOADING SPACE*/

.contain {
    animation-delay: 4s;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    background: #776b78;
    background: -webkit-linear-gradient(#5b5970, #4b0561);
    background: linear-gradient(#918dba, #6e2585);
}

.icon {
    width: 100px;
    height: 100px;
    margin: 0 5px;
}

/*Animation*/
.icon:nth-child(2) img {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s
}

.icon:nth-child(3) img {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s
}

.icon:nth-child(4) img {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s
}

.icon img {
    -webkit-animation: anim 2s ease infinite;
    animation: anim 2s ease infinite;
    -webkit-transform: scale(0, 0) rotateZ(180deg);
    transform: scale(0, 0) rotateZ(180deg);
}

@-webkit-keyframes anim {
    0% {
        -webkit-transform: scale(0, 0) rotateZ(-90deg);
        transform: scale(0, 0) rotateZ(-90deg);
        opacity: 0
    }

    30% {
        -webkit-transform: scale(1, 1) rotateZ(0deg);
        transform: scale(1, 1) rotateZ(0deg);
        opacity: 1
    }

    50% {
        -webkit-transform: scale(1, 1) rotateZ(0deg);
        transform: scale(1, 1) rotateZ(0deg);
        opacity: 1
    }

    80% {
        -webkit-transform: scale(0, 0) rotateZ(90deg);
        transform: scale(0, 0) rotateZ(90deg);
        opacity: 0
    }
}

@keyframes anim {
    0% {
        -webkit-transform: scale(0, 0) rotateZ(-90deg);
        transform: scale(0, 0) rotateZ(-90deg);
        opacity: 0
    }

    30% {
        -webkit-transform: scale(1, 1) rotateZ(0deg);
        transform: scale(1, 1) rotateZ(0deg);
        opacity: 1
    }

    50% {
        -webkit-transform: scale(1, 1) rotateZ(0deg);
        transform: scale(1, 1) rotateZ(0deg);
        opacity: 1
    }

    80% {
        -webkit-transform: scale(0, 0) rotateZ(90deg);
        transform: scale(0, 0) rotateZ(90deg);
        opacity: 0
    }
}

.d29 {
width: 250px; 
height: 80px;
background: #bf93ae;
border-radius: 50%/10%;
position: relative;
}
.d29:before {
content: "";
position: absolute; 
top: 10%; 
bottom: 10%; 
right: -5%; 
left: -5%;
background: inherit;
border-radius: 5%/50%;
}



.content {
    position: absolute;
}
